.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
node_modules/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.vscode/
docs/_build/
vendor/
composer.lock
mintty.exe.stackdump
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
.idea/
.obsidian/
